__pycache__/
.env
*.rst
*.doctree
*.pickle
/docs/_build/docs/
pytest-coverage.txt
*.venv/*
.DS_Store
.vscode
_coverage_html
.gitignore
dist/*
*.egg-*
*.eggs*
build/*
tests/_source_weather/*
tests/resilience/hbrv_generated_weather/*
tests/resilience/winter/hbrv/revive_test_model/
tests/resilience/summer/hbrv/revive_test_model/
tests/resilience/winter/phius_gui/run/
tests/resilience/summer/phius_gui/run/
tests/adorb/hbrv/hb_revive_ADORB_model/
tests/adorb/hbrv/hb_revive_ADORB_model_tables/
tests/adorb/phius_gui/run/
tests/adorb/phius_gui_ideal_air/run/
