__pycache__/
.env
*.rst
*.doctree
*.pickle
/docs/_build/docs/
pytest-coverage.txt
*.venv/*
.DS_Store
.vscode
_coverage_html
.gitignore
dist/*
*.egg-*
*.eggs*
build/*
tests/resilience/hbrv_summer_results/*
tests/resilience/hbrv_winter_results/*
tests/resilience/hbrv_generated_weather/*
tests/resilience/phius_gui_summer_results/*
tests/resilience/phius_gui_winter_results/*